/3rdparty/ @christophermaier
/bin/ @christophermaier
/buf.yaml @christophermaier
BUILD @christophermaier
/BUILDING.md @christophermaier
/.buildkite/ @christophermaier
/build-support/ @christophermaier
/CHORES.md @christophermaier
/CODE_OF_CONDUCT.md @christophermaier
/codecov.yml @christophermaier
/CONTRIBUTING.md @christophermaier
/debugger/ @christophermaier
/devbox/ @wimax-grapl
/docker-bake.hcl @christophermaier
/docker-compose*.yml @christophermaier
*Dockerfile* @christophermaier @inickles-grapl
/Dockerfile.pulumi @christophermaier
.dockerignore @christophermaier @inickles-grapl
/docs/ @wimax-grapl
/EDITOR_SETUP.md @christophermaier
/etc/ @christophermaier
/etc/ci_scripts/ @wimax-grapl
/etc/formatter/ @wimax-grapl
/etc/sample_data/ @jgrillo-grapl
/firecracker @wimax-grapl
/.flake8 @christophermaier
.gitattributes @christophermaier
/.github/ @christophermaier
.gitignore @christophermaier
/LICENSE @christophermaier
/LOCAL_UI_WORKFLOW.md @christophermaier
/nomad @twunderlich-grapl
/pants @christophermaier
/pants.ci.toml @christophermaier
/pants-plugins/ @christophermaier
/pants.toml @christophermaier
/pulumi/ @christophermaier
/pyproject.toml @christophermaier
/README.md @christophermaier
/.rustfmt.toml @christophermaier
/src/js/engagement_view/ @andrea-grapl
/src/js/graphql_endpoint/ @andrea-grapl
/src/proto/ @grapl-security/wg-data-infra
/src/python/analyzer_executor/ @wimax-grapl @grapl-security/wg-data-infra
/src/python/e2e-test-runner/ @jgrillo-grapl
/src/python/engagement-creator/ @wimax-grapl @grapl-security/wg-data-infra
/src/python/graphql_endpoint_tests/ @wimax-grapl
/src/python/grapl_analyzerlib/ @colin-grapl
/src/python/grapl-common/ @wimax-grapl
/src/python/graplctl/ @jgrillo-grapl
/src/python/grapl-template-generator/ @wimax-grapl @colin-grapl
/src/python/grapl-tests-common/ @wimax-grapl
/src/python/mypy.ini @christophermaier @wimax-grapl
/src/python/provisioner/ @jgrillo-grapl
/src/python/python-proto/ @grapl-security/wg-data-infra
/src/sh/BUILD @wimax-grapl
/src/sh/shell_colors.sh @wimax-grapl
/src/rust/analyzer-dispatcher/ @grapl-security/wg-data-infra
/src/rust/bin/ @christophermaier
/src/rust/.cargo @christophermaier
/src/rust/.cargo/audit.toml @colin-grapl @inickles-grapl
/src/rust/Cargo.lock @christophermaier
/src/rust/Cargo.toml @christophermaier
/src/rust/derive-dynamic-node/ @colin-grapl
/src/rust/endpoint-plugin/ @inickles-grapl
/src/rust/generators/ @inickles-grapl
/src/rust/graph-merger/ @grapl-security/wg-data-infra
/src/rust/grapl-config/ @inickles-grapl @wimax-grapl
/src/rust/grapl-graphql-codegen/ @colin-grapl
/src/rust/grapl/ @inickles-grapl
/src/rust/grapl-observe/ @wimax-grapl
/src/rust/grapl-service/ @inickles-grapl
/src/rust/grapl-utils/ @inickles-grapl
/src/rust/grapl-web-ui/ @inickles-grapl
/src/rust/kafka/ @grapl-security/wg-data-infra
/src/rust/model-plugin-deployer/ @wimax-grapl
/src/rust/organization-management/ @andrea-grapl
/src/rust/plugin-bootstrap/ @colin-grapl
/src/rust/plugin-registry/ @colin-grapl
/src/rust/plugin-sdk/ @colin-grapl
/src/rust/plugin-work-queue/ @colin-grapl
/src/rust/node-identifier/ @grapl-security/wg-data-infra
/src/rust/nomad-client-gen/ @wimax-grapl
/src/rust/rust-proto/ @grapl-security/wg-data-infra
src/rust/rust-proto-new/ @grapl-security/wg-data-infra
/src/rust/rust-toolchain.toml @inickles-grapl
/src/rust/sqs-executor/ @inickles-grapl @grapl-security/wg-data-infra
/src/rust/sysmon-parser/ @inickles-grapl
/test/docker-compose* @inickles-grapl @christophermaier
/test/run @wimax-grapl

**/Makefile @christophermaier
