**/__pycache__
**/node_modules
**/.yarn
**/.npm
.git/
.idea
.pants.d
.pants.workdir.file_lock*
.pids
build-support/venv/
dist/**
# There are a few `COPY ./dist/$THING.pex`s we want to allow
!dist/**/*.pex
src/rust/target/
test_artifacts/