**/__pycache__
**/node_modules
**/.yarn
**/.npm
.git/
.idea
.pants.d
.pants.workdir.file_lock*
.pids
build-support/venv/
dist/**
!dist/*.pex  # There are a few `COPY ./dist/$THING.pex`
src/rust/target/
test_artifacts/