**/__pycache__
**/node_modules
.git/**
.idea
.pants.d
.pants.workdir.file_lock*
.pids
.yarn
build-support/grapl-venv

# match any directory named 'target', which can result from building creates
# individually as one might do during local development.
src/rust/**/target/**

test_artifacts/**
