# Mac OS
.DS_Store

# Test outputs
test/cypress/screenshots
test/cypress/videos

# Environments
.env
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rust outputs
target/

# Node packages
node_modules/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache
*.zip

# IDE files
*.code-workspace
*.vscode
.idea/
*.iml
