src/rust/graph-descriptions/grapl_graph_descriptions

# Mac OS
.DS_Store

# Test outputs
test/cypress/screenshots
test/cypress/videos

.mypy_cache/


node_modules/
.idea/
*.iml
.env
venv/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

target/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache

*.code-workspace
*.vscode
*.zip

.log/
.hypothesis/
