version: "3.8"

x-common-variables:
  formatter-image: &formatter-image
    image: grapl/format
    build:
      context: ./etc/formatter
    volumes:
      - type: bind
        source: .
        target: /mnt/grapl_repo_rw

services:
  # Prettier can actually lint many more things than just ts/js.
  # For now we use it for yaml as well.

  lint-prettier:
    <<: *formatter-image
    command: /bin/bash -c 'cd /mnt/grapl_repo_rw/src/js; bin/format.sh --check'
    user: ${UID}:${GID}

  format-prettier:
    <<: *formatter-image
    command: /bin/bash -c 'cd /mnt/grapl_repo_rw/src/js; bin/format.sh --update'
    user: ${UID}:${GID}
