version: "3.8"

x-common-variables:
  read-only-workdir: &read-only-workdir
    type: bind
    source: .
    target: /workdir
    read_only: true
  read-write-workdir: &read-write-workdir
    type: bind
    source: .
    target: /workdir
    read_only: false

services:
  prettier:
    image: grapl/format
    build:
      context: ./etc/formatter
    working_dir: /workdir/etc/formatter
    entrypoint:
      ["/bin/bash", "-o", "errexit", "-o", "nounset", "-o", "pipefail"]
    command:
      - "-c"
      - |
        echo "Do not run this service directly; it serves only as a source of common configuration!"
        exit 42

  buf-lint:
    image: bufbuild/buf:1.2.1
    command: ["lint", "--verbose"]
    working_dir: /workdir
    volumes:
      - *read-only-workdir

  buf-breaking-change:
    image: bufbuild/buf:1.2.1
    command:
      [
        "breaking",
        "--against",
        "https://github.com/grapl-security/grapl.git",
        "--verbose",
      ]
    working_dir: /workdir
    volumes:
      - *read-only-workdir

  hcl-lint:
    image: docker.cloudsmith.io/grapl/releases/hcl-formatter:1.7.4
    command: lint
    volumes:
      - *read-only-workdir

  hcl-format:
    image: docker.cloudsmith.io/grapl/releases/hcl-formatter:1.7.4
    command: format
    volumes:
      - *read-write-workdir

  prettier-lint:
    extends:
      service: prettier
    command: ./format.sh --check
    volumes:
      - *read-only-workdir

  prettier-format:
    extends:
      service: prettier
    command: ./format.sh --update
    volumes:
      - *read-write-workdir
