### Port conventions (though there are many, many exceptions)
# 82xx - TBD
# 83xx - grapl plugin services, like grapl-aws-plugins
# 84xx - debugger ports (see vsc_debugger.py)

version: "3.8"
volumes:
  dgraph_export:

services:
  pulumi:
    image: grapl/local-pulumi:${TAG:-latest}
    entrypoint: ["/bin/bash", "-o", "errexit", "-o", "nounset", "-c"]
    command:
      - |
        cd grapl
        pulumi login --local
        pulumi stack init local-grapl --non-interactive
        pulumi up --yes --skip-preview --stack=local-grapl

    volumes:
      - type: bind
        source: ./dist
        target: /home/grapl/dist
        read_only: true
    environment:
      TAG:
      PULUMI_CONFIG_PASSPHRASE: local-grapl-passphrase
      # This gets exported to True by `make test-integration`
      SHOULD_DEPLOY_INTEGRATION_TESTS: "${SHOULD_DEPLOY_INTEGRATION_TESTS:-False}"
      # This gets exported to True by `make test-e2e`
      SHOULD_DEPLOY_E2E_TESTS: "${SHOULD_DEPLOY_E2E_TESTS:-False}"
      DOCKER_USER: "${UID}:${GID}"
      GRAPL_ROOT: "${GRAPL_ROOT}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
      # Other environment variables like MG_ALPHAS are passed in via
      # Pulumi.local-grapl.yaml
    extra_hosts:
      # Expose the host Linux machine, despite being on the Grapl network.
      # This lets Pulumi talk to the host's Nomad
      - "host.docker.internal:host-gateway"
