# This file exists solely to coordinate the build of Grapl service
# containers.
#
# At the moment, these are "local" Grapl containers, and not
# necessarily identical to the artifacts we would use in real
# deployments.
version: "3.8"

services:
  ########################################################################
  # Rust Services
  ########################################################################

  sysmon-generator:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/sysmon-generator:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: sysmon-generator-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  osquery-generator:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/osquery-generator:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: osquery-generator-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  node-identifier:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/node-identifier:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: node-identifier-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  node-identifier-retry:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/node-identifier-retry:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: node-identifier-retry-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  graph-merger:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/graph-merger:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: graph-merger-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  analyzer-dispatcher:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/analyzer-dispatcher:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: analyzer-dispatcher-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  org-management:
    image: grapl/org-management:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: org-management-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  org-management-postgres-db:
    image: grapl/org-management-postgres-db:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: org-management-postgres-db-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}


  ########################################################################
  # Python Services
  ########################################################################

  # should match `pulumi/infra/analyzer_executor.py`'s GraplDockerBuild
  analyzer-executor:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/analyzer-executor:${TAG:-latest}
    build:
      context: .
      dockerfile: ./src/python/Dockerfile
      target: analyzer-executor-deploy

  # This container build exists only for Local Grapl; if we are able
  # to deploy model-plugin-deployer as an actual Lambda there, we can
  # get rid of this.
  model-plugin-deployer:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/model-plugin-deployer:${TAG:-latest}
    build:
      context: .
      dockerfile: ./src/python/Dockerfile
      target: model-plugin-deployer-deploy

  ########################################################################
  # Web Services
  ########################################################################

  engagement-view-uploader:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/engagement-view:${TAG:-latest}
    build:
      context: src/js/engagement_view
      dockerfile: Dockerfile
      target: engagement-view-local-deploy

  # This container build exists only for Local Grapl; if we are able
  # to deploy graphql-endpoint as an actual Lambda there, we can get
  # rid of this.
  graphql-endpoint:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/graphql-endpoint:${TAG:-latest}
    build:
      context: src/js/graphql_endpoint
      dockerfile: Dockerfile
      target: graphql-endpoint-deploy

  notebook:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/notebook:${TAG:-latest}
    build:
      context: .
      dockerfile: ./src/python/Dockerfile
      target: grapl-notebook

  ########################################################################
  # Utility Services
  ########################################################################

  pulumi:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/local-pulumi:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile.pulumi

  provisioner:
    image: ${DOCKER_REGISTRY:-docker.io}/grapl/provisioner:${TAG:-latest}
    build:
      context: .
      dockerfile: ./src/python/lambdas.Dockerfile
      target: provisioner
