version: '3.4'
services:

  #
  # Infrastructure dependencies
  #

  grapl-master-graph-db:
    tty: false
    image: dgraph/standalone:v1.2.2
    ports:
      - "8000:8000"
      - "8080:8080"
      - "9080:9080"
    logging:
      driver: none

  sqs:
    image: localstack/localstack
    environment:
      - SERVICES=sqs:9324
      - HOSTNAME_EXTERNAL=sqs.us-east-1.amazonaws.com
    ports:
      - "9324:9324"
    logging:
      driver: none

  s3:
    image: minio/minio
    command: server /data
    ports:
      - "9000:9000"
    logging:
      driver: none

  dynamodb:
    image: amazon/dynamodb-local
    logging:
      driver: none

  #
  # Rust services
  #

  grapl-sysmon-subgraph-generator:
    image: grapl/grapl-sysmon-subgraph-generator:${TAG:-latest}
    tty: false
    environment:
      - "BUCKET_PREFIX=local-grapl"
      - "IS_LOCAL=True"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - "SOURCE_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-sysmon-graph-generator-queue"
      - RUST_LOG=${RUST_LOG:-ERROR}
    links:
      - s3:minio
      - sqs:sqs.us-east-1.amazonaws.com
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1
    depends_on:
      - s3
      - sqs
      - grapl-graph-provision

  grapl-node-identifier:
    image: grapl/grapl-node-identifier:${TAG:-latest}
    environment:
      - "BUCKET_PREFIX=local-grapl"
      - "IS_LOCAL=True"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - "SOURCE_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-node-identifier-queue"
      - "GRAPH_MERGER_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-graph-merger-queue"
      - STATIC_MAPPING_TABLE=local-grapl-static_mapping_table
      - DYNAMIC_SESSION_TABLE=local-grapl-dynamic_session_table
      - PROCESS_HISTORY_TABLE=local-grapl-process_history_table
      - FILE_HISTORY_TABLE=local-grapl-file_history_table
      - INBOUND_CONNECTION_HISTORY_TABLE=local-grapl-inbound_connection_history_table
      - OUTBOUND_CONNECTION_HISTORY_TABLE=local-grapl-outbound_connection_history_table
      - NETWORK_CONNECTION_HISTORY_TABLE=local-grapl-network_connection_history_table
      - IP_CONNECTION_HISTORY_TABLE=local-grapl-ip_connection_history_table
      - ASSET_ID_MAPPINGS=local-grapl-asset_id_mappings
      - RUST_LOG=${RUST_LOG:-ERROR}
    tty: false
    links:
      - s3:minio
      - dynamodb:dynamo
      - sqs:sqs.us-east-1.amazonaws.com
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1
    depends_on:
      - s3
      - dynamodb
      - sqs
      - grapl-dynamodb-provision

  grapl-node-identifier-retry-handler:
    image: grapl/grapl-node-identifier-retry-handler:${TAG:-latest}
    environment:
      - "BUCKET_PREFIX=local-grapl"
      - "IS_LOCAL=True"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - "SOURCE_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-node-identifier-retry-queue"
      - "GRAPH_MERGER_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-graph-merger-queue"
      - RUST_LOG=${RUST_LOG:-ERROR}
    tty: false
    links:
      - s3:minio
      - dynamodb:dynamo
      - sqs:sqs.us-east-1.amazonaws.com
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1
    depends_on:
      - s3
      - dynamodb
      - sqs
      - grapl-dynamodb-provision

  grapl-graph-merger:
    image: grapl/grapl-graph-merger:${TAG:-latest}
    environment:
      - "BUCKET_PREFIX=local-grapl"
      - "IS_LOCAL=True"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - "SOURCE_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-graph-merger-queue"
      - "ANALYZER_DISPATCHER_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-analyzer-dispatcher-queue"
      - RUST_LOG=${RUST_LOG:-ERROR}
      - MG_ALPHAS=master_graph:9080
    tty: false
    links:
      - s3:minio
      - sqs:sqs.us-east-1.amazonaws.com
      - grapl-master-graph-db:master_graph
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1
    depends_on:
      - s3
      - sqs
      - grapl-graph-provision
      - grapl-master-graph-db

  grapl-analyzer-dispatcher:
    image: grapl/grapl-analyzer-dispatcher:${TAG:-latest}
    environment:
      - "BUCKET_PREFIX=local-grapl"
      - "IS_LOCAL=True"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - "SOURCE_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-analyzer-dispatcher-queue"
      - "ANALYZER_EXECUTOR_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-analyzer-executor-queue"
      - RUST_LOG=${RUST_LOG:-ERROR}
    tty: false
    links:
      - s3:minio
      - sqs:sqs.us-east-1.amazonaws.com
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1
    depends_on:
      - s3
      - sqs

  #
  # Python services
  #

  grapl-analyzer-executor:
    image: grapl/grapl-analyzer-executor:${TAG:-latest}
    command: /bin/sh -c '. venv/bin/activate && python3 analyzer_executor/src/analyzer-executor.py'
    environment:
      - "IS_LOCAL=True"
      - GRPC_ENABLE_FORK_SUPPORT=1
      - MG_ALPHAS=master_graph:9080
      - "IS_RETRY=False"
      - "BUCKET_PREFIX=local-grapl"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - "SOURCE_QUEUE_URL=http://sqs.us-east-1.amazonaws.com:9324/queue/grapl-analyzer-executor-queue"
    links:
      - s3:minio
      - sqs:sqs.us-east-1.amazonaws.com
      - grapl-master-graph-db:master_graph
    tty: true
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1

  grapl-engagement-creator:
    image: grapl/grapl-engagement-creator:${TAG:-latest}
    command: /bin/sh -c '. venv/bin/activate && python3 engagement-creator/src/engagement-creator.py'
    environment:
      - "IS_LOCAL=True"
      - "BUCKET_PREFIX=local-grapl"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - MG_ALPHAS=master_graph:9080
    tty: true
    links:
      - s3:minio
      - sqs:sqs.us-east-1.amazonaws.com
      - grapl-master-graph-db:master_graph
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1

  grapl-engagement-edge:
    image: grapl/grapl-engagement-edge:${TAG:-latest}
    command: /bin/sh -c '. venv/bin/activate && cd /home/grapl/app && chalice local --no-autoreload --host=0.0.0.0 --port=8900'
    ports:
      - "8900:8900"
    environment:
      - "IS_LOCAL=True"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - "UX_BUCKET_URL=localhost"
    tty: true
    links:
      - grapl-master-graph-db:master_graph

  grapl-model-plugin-deployer:
    image: grapl/grapl-model-plugin-deployer:${TAG:-latest}
    command: /bin/sh -c '. venv/bin/activate && cd /home/grapl/app && chalice local --no-autoreload --host=0.0.0.0 --port=8123'
    ports:
      - "8123:8123"
    environment:
      - "IS_LOCAL=True"
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - "UX_BUCKET_URL=localhost"
    tty: true
    links:
      - s3:minio
      - sqs:sqs.us-east-1.amazonaws.com
      - grapl-master-graph-db:master_graph
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1

  grapl-dgraph-ttl:
    image: grapl/grapl-dgraph-ttl:${TAG:-latest}
    command: /bin/sh -c '. venv/bin/activate && cd /home/grapl/app && chalice local --no-autoreload --host=0.0.0.0 --port=8124'
    ports:
      - "8124:8124"
    environment:
      - "IS_LOCAL=True"
      - MG_ALPHAS=master_graph:9080
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
      - GRAPL_DGRAPH_TTL_S=${GRAPL_DGRAPH_TTL_S:-600}
      - GRAPL_TTL_DELETE_BATCH_SIZE=${GRAPL_TTL_DELETE_BATCH_SIZE:-10}
    tty: true
    links:
      - grapl-master-graph-db:master_graph
    extra_hosts:
      - amazonaws:127.0.0.1

  #
  # JS/web services
  #

  grapl-engagement-view:
    image: grapl/grapl-engagement-view:${TAG:-latest}
    environment:
      - PORT=1234
    ports:
      - 1234:1234

  grapl-graphql-endpoint:
    image: grapl/grapl-graphql-endpoint:${TAG:-latest}
    command: yarn start server
    environment:
      - IS_LOCAL=True
      - PORT=5000
      - "MG_ALPHAS=master_graph:9080"
    links:
      - grapl-master-graph-db:master_graph
    ports:
      - 5000:5000

  grapl-notebook:
    image: grapl/grapl-notebook:${TAG:-latest}
    links:
      - grapl-master-graph-db:master_graph
    ports:
      - 8888:8888

  #
  # Utility services
  #

  grapl-graph-provision:
    image: grapl/grapl-graph-provision:${TAG:-latest}
    command: /bin/sh -c '. venv/bin/activate && python /var/run/target/grapl_provision.py'
    environment:
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
    volumes:
      - ./etc/local_grapl/:/var/run/target/
    tty: true
    links:
      - grapl-master-graph-db:master_graph
      - s3:minio
      - sqs:sqs.us-east-1.amazonaws.com
    extra_hosts:
      - sqs:127.0.0.1
      - amazonaws:127.0.0.1
      - minio:127.0.0.1
    depends_on:
      - grapl-master-graph-db
      - s3
      - sqs

  grapl-dynamodb-provision:
    image: grapl/grapl-dynamodb-provision:${TAG:-latest}
    command: /bin/sh -c '. venv/bin/activate && python /var/run/target/provision_local_identity_table.py'
    environment:
      - GRAPL_LOG_LEVEL=${GRAPL_LOG_LEVEL:-ERROR}
    volumes:
      - ./etc/local_grapl/local_dynamodb:/var/run/target/
    tty: false
    links:
      - dynamodb:dynamodb
    extra_hosts:
      - amazonaws:127.0.0.1
    depends_on:
      - dynamodb
