version: "3.8"

x-common-variables:
  read-only-workdir: &read-only-workdir
    type: bind
    source: .
    target: /workdir
    read_only: true
  read-write-workdir: &read-write-workdir
    type: bind
    source: .
    target: /workdir
    read_only: false

services:
  buf-lint:
    image: bufbuild/buf:0.51.0
    command: ["lint", "--verbose"]
    working_dir: /workdir
    volumes:
      - *read-only-workdir

  buf-breaking-change:
    image: bufbuild/buf:0.51.0
    command: ["breaking", "--against", "https://github.com/grapl-security/grapl.git", "--verbose"]
    working_dir: /workdir
    volumes:
      - *read-only-workdir

  hcl-lint:
    image: docker.cloudsmith.io/grapl/releases/hcl-formatter:1.7.4
    command: lint
    volumes:
      - *read-only-workdir

  hcl-format:
    image: docker.cloudsmith.io/grapl/releases/hcl-formatter:1.7.4
    command: format
    volumes:
      - *read-write-workdir
