# This file exists solely to coordinate the build of Grapl service
# containers.
#
# At the moment, these are "local" Grapl containers, and not
# necessarily identical to the artifacts we would use in real
# deployments.
version: "3.8"

services:
  ########################################################################
  # Rust Services
  ########################################################################

  sysmon-generator:
    image: grapl/sysmon-generator:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: sysmon-generator-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  osquery-generator:
    image: grapl/osquery-generator:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: osquery-generator-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  node-identifier:
    image: grapl/node-identifier:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: node-identifier-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  node-identifier-retry:
    image: grapl/node-identifier-retry:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: node-identifier-retry-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  graph-merger:
    image: grapl/graph-merger:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: graph-merger-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  analyzer-dispatcher:
    image: grapl/analyzer-dispatcher:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: analyzer-dispatcher-deploy
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  model-plugin-deployer:
    image: grapl/model-plugin-deployer:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: model-plugin-deployer
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  grapl-web-ui:
    image: grapl/grapl-web-ui:${TAG:-latest}
    build:
      context: src
      dockerfile: rust/Dockerfile
      target: grapl-web-ui
      args:
        - RUST_BUILD=${RUST_BUILD:-debug}

  ########################################################################
  # Python Services
  ########################################################################

  # should match `pulumi/infra/analyzer_executor.py`'s GraplDockerBuild
  analyzer-executor:
    image: grapl/analyzer-executor:${TAG:-latest}
    build:
      context: .
      dockerfile: ./src/python/Dockerfile
      target: analyzer-executor

  engagement-creator:
    image: grapl/engagement-creator:${TAG:-latest}
    build:
      context: .
      dockerfile: ./src/python/Dockerfile
      target: engagement-creator

  ########################################################################
  # Web Services
  ########################################################################

  graphql-endpoint:
    image: grapl/graphql-endpoint:${TAG:-latest}
    build:
      context: src/js/graphql_endpoint
      dockerfile: Dockerfile
      target: graphql-endpoint-deploy

  notebook:
    image: grapl/notebook:${TAG:-latest}
    build:
      context: .
      dockerfile: ./src/python/Dockerfile
      target: grapl-notebook

  ########################################################################
  # Utility Services
  ########################################################################

  pulumi:
    image: grapl/local-pulumi:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile.pulumi

  localstack:
    image: grapl/localstack:${TAG:-latest}
    build:
      context: localstack
      dockerfile: Dockerfile

  provisioner:
    image: grapl/provisioner:${TAG:-latest}
    build:
      context: .
      dockerfile: ./src/python/Dockerfile
      target: provisioner
