# For the time being, we'll keep the specific files-to-ignore here in
# this directory-specific .gitignore file; it makes things a bit
# easier to reason about.

# As recommended by https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

coverage/*

# These are empty target files used by our Makefile; see
# https://www.gnu.org/software/make/manual/html_node/Empty-Targets.html
# for details.
build-image
install-dependencies
build-code

# While we set $HOME in our build container to our mounted directory,
# we can generate additional files that should not be committed.
.bash_history
.cache/
.node/
.npm/
