[workspace]

members = [
    "./analyzer-dispatcher",
    "./derive-dynamic-node",
    "./generic-subgraph-generator",
    "./graph-descriptions",
    "./graph-generator-lib",
    "./graph-merger",
    "./grapl-config",
    "./grapl-observability",
    "./node-identifier",
    "./sysmon-subgraph-generator",
]
