[workspace]
members = [
  "./analyzer-dispatcher",
  "./derive-dynamic-node",
  "./endpoint-plugin",
  "./generators/generic-subgraph-generator",
  "./generators/graph-generator-lib",
  "./generators/osquery-generator",
  "./generators/sysmon-generator",
  "./graph-merger",
  "./grapl",
  "./grapl-config",
  "./grapl-graphql-codegen",
  "./grapl-observe",
  "./grapl-service",
  "./grapl-web-ui",
  "./grapl-utils",
  "./kafka-metrics-exporter",
  "./model-plugin-deployer",
  "./node-identifier",
  "./nomad-client-gen",
  "./plugin-bootstrap",
  "./plugin-registry",
  "./plugin-work-queue",
  "./rust-proto",
  "./sqs-executor",
  "./sysmon",
]

[profile.dev]
opt-level = 1
