[package]
name = "rust-proto-new"
version = "0.1.0"
authors = ["Grapl, Inc. <sales@graplsecurity.com>"]
edition = "2021"
description = "Wrapper library for Grapl's protocol buffers"
license = "MIT"

[dependencies]
async-trait = "0.1.53"
bytes = "1.1"
futures = "0.3"
prost = "0.10"
prost-types = "0.10"
thiserror = "1.0"
tokio = { version = "1.17", features = ["rt", "time"] }
tokio-stream = { version = "0.1.8", features = ["net"] }
tonic = { version = "0.7", features = ["default", "compression"] }
tonic-health = "0.6"
tracing = "0.1"
uuid = { version = "1.0.0", features = ["v4"] }

[build-dependencies]
tonic-build = { version = "0.7", features = ["default", "compression"] }

[dev-dependencies]
proptest = "1.0"
quickcheck = "1.0"
quickcheck_macros = "1.0"
test-context = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[features]
uid-allocator = []
uid-allocator-messages = ["uid-allocator"]
uid-allocator-server = ["uid-allocator-messages", "uid-allocator"]
uid-allocator-client = ["uid-allocator-messages", "uid-allocator"]
uid-allocator-full = [
  "uid-allocator-messages",
  "uid-allocator-client",
  "uid-allocator-server",
  "uid-allocator"
]
