[package]
name = "kafka-metrics-exporter"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
metrics = "0.17.0"
rdkafka = "0.28.0"
tokio = { version = "1.14.0", features = ["full", "sync"] }
tracing = "0.1.29"
prost = "0.9.0"
quanta = "0.7.2"
tokio-stream = "0.1.8"

[dev-dependencies]
tracing-subscriber = { version = "0.3.2", default-features = false, features = [
  "env-filter",
  "fmt"
] }

[build-dependencies]
prost-build = "0.9.0"

[features]
default = []
integration = []
