/* ============
Neutral
============ */
$black: black;
$white: white;
$grey-light: #e7e7e7;
$grey-medium: #d9d9d9;
$grey-dark: #b7b7b7;
$invisible: rgba(0, 0, 0, 0);

/* ============
Brand
============ */
$krukar: #eb0029;

/* ============
UI
============ */
$brand: $krukar;
$border: $grey-dark;
$hover: $brand;
$error: #e74c3c;
$success: #2ecc71;
$warning: #f1c40f;
