[package]
name = "sysmon-subgraph-generator"
version = "1.0.0"
authors = ["Insanitybit <insanitybit@gmail.com>"]
edition = "2018"

[dependencies]
grapl-graph-descriptions = { path="../../graph-descriptions", version="*" }
grapl-config = {path = "../../grapl-config", version="*"}
grapl-observe = {path = "../../grapl-observe", version="*"}

sqs-executor = { path = "../../sqs-executor/" }
grapl-service = { path = "../../grapl-service/" }
serde = "1.0.110"
serde_json = "1.0.53"
serde_derive = "1.0.110"
failure = "0.1.*"
prost = "0.6.*"
log = "0.4.3"
regex = "1.1.0"
lazy_static = "1.2.0"
sysmon = "0.2"
chrono = "0.4"
stopwatch = "0"

rusoto_s3 = {version="0.45.0", default_features = false, features=["rustls"]}
rusoto_core = {version="0.45.0", default_features = false, features=["rustls"]}
rusoto_sqs = {version="0.45.0", default_features = false, features=["rustls"]}
rusoto_credential = "0.45.0"
futures = "0.3.*"
aws_lambda_events = "0.2.0"

async-trait = "0.1.31"
thiserror = "1.0.22"

zstd = "0.6"
tokio = { version = "0.2", features = ["sync", "rt-core", "macros", "time", "rt-threaded"] }
graph-generator-lib = { path="../graph-generator-lib" }
tracing = "0.1"
tracing-subscriber = "0.2"
tracing-futures = "0.2"

[dependencies.uuid]
version = "*"
features = ["v4"]
