[Unit]
Description=Hashicorp's Consul

[Service]
Type=simple
WorkingDirectory=/var/lib/consul
User=consul
Group=nfsnobody
ExecStart=/usr/bin/consul agent -config-dir /var/lib/consul/
Restart=on-failure

[Install]
WantedBy=multi-user.target
