[package]
name = "graph-merger"
version = "1.0.0"
authors = ["Insanitybit <insanitybit@gmail.com>"]
edition = "2018"

[dependencies]
grapl-graph-descriptions = { path="../graph-descriptions", version="*"}
grapl-config = {path="../grapl-config", version="*"}

anyhow = "1.0.*"
failure = "0.1.*"
serde = "1.0.110"
serde_json = "1.0.59"
serde_derive = "1.0.110"
log = "0.4.*"

dgraph-tonic = { version = "0.8", features = ["dgraph-1-1"] }
grpc = "0.6.1"
sqs-lambda = "0.20.*"

rusoto_s3 = { version="0.43.0", default_features = false, features=["rustls"] }
rusoto_core = { version="0.43.0", default_features = false, features=["rustls"] }
rusoto_sqs = { version="0.43.0", default_features = false, features=["rustls"] }
rusoto_sns = { version="0.43.0", default_features = false, features=["rustls"] }

lambda_runtime = "0.2.*"
aws_lambda_events = "0.2.0"

simple_logger = "1.6.*"
stopwatch = "0.0.7"
sha2 = "0.8.0"

zstd = "0.5.1"
base16 = "0.1.1"
prost = "0.6.*"
base64 = "0.10.1"
rand = "0.6.5"
itertools = "0.8.0"

futures = "0.3.*"
async-trait = "0.1.30"
uuid = "0.8.1"
tokio-compat = "0.1.*"
tokio = { version = "0.2.*", features = ["sync", "rt-core", "macros", "time", "rt-threaded"] }
chrono = "0.4.11"
rusoto_credential = "0.43.0"
rusoto_dynamodb = {version="0.43.0", default_features = false, features=["rustls"]}
serde_dynamodb = {version="0.5.0", default_features = false, features=["rustls"]}