[package]
name = "graph-merger"
version = "1.0.0"
authors = ["Insanitybit <insanitybit@gmail.com>"]
edition = "2021"

[[bin]]
name = "graph-merger"

[lib]
name = "graph_merger_lib"

[dependencies]
rust-proto = { path = "../rust-proto" }
grapl-config = { path = "../grapl-config", version = "*" }
grapl-observe = { path = "../grapl-observe", version = "*" }
grapl-service = { path = "../grapl-service" }
grapl-utils = { path = "../grapl-utils" }
lazy_static = "1.4.0"
anyhow = "1.0.49"
serde = "1.0.130"
serde_json = "1.0.72"
serde_derive = "1.0.130"
log = "0.4.14"
dgraph-tonic = { version = "0.10.0", features = ["dgraph-1-1"] }
sqs-executor = { path = "../sqs-executor/" }
rusoto_s3 = { version = "0.47.0", default_features = false, features = [
  "rustls"
] }
rusoto_core = { version = "0.47.0", default_features = false, features = [
  "rustls"
] }
rusoto_sqs = { version = "0.47.0", default_features = false, features = [
  "rustls"
] }
rusoto_dynamodb = { version = "0.47.0", default_features = false, features = [
  "rustls"
] }
rusoto_credential = "0.47.0"
sha2 = "0.9.8"
zstd = "0.10.0"
prost = "0.9.0"
base64 = "0.13.0"
rand = "0.8.4"
dgraph_query_lib = "0.1.0"
futures = "0.3.18"
async-trait = "0.1.51"
uuid = "0.8.2"
tokio = { version = "1.14.0", features = [
  "sync",
  "rt",
  "macros",
  "time",
  "rt-multi-thread"
] }
chrono = "0.4.19"
tracing = "0.1.29"
thiserror = "1.0.30"
tracing-futures = "0.2.5"
lru = "0.7.0"
futures-retry = "0.6.0"

[dev-dependencies]
tracing-subscriber = "0.3.2"

[features]
integration = []
