[package]
name = "plugin-registry"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "plugin-registry"
path = "src/main.rs"

[lib]
name = "plugin_registry"

[dependencies]
async-trait = "0.1"
bytes = "1.1"
clap = { version = "3.0", default_features = false, features = [
  "std",
  "env",
  "derive"
] }
futures-retry = "0.6"
grapl-config = { path = "../grapl-config" }
grapl-utils = { path = "../grapl-utils" }
rust-proto = { path = "../rust-proto" }
nomad-client-gen = { path = "../nomad-client-gen" }
serde_json = "1.0"
sqlx = { version = "0.6", features = [
  "chrono",
  "migrate",
  "offline",
  "postgres",
  "runtime-tokio-rustls",
  "uuid",
] }
tempfile = "3.3"
thiserror = "1.0"
tokio = { version = "1.17", features = ["full"] }
# TODO remove tonic after https://github.com/grapl-security/grapl/pull/1665
tonic = { version = "0.7", features = ["default", "compression"] }
tracing = "0.1"
rusoto_core = { version = "0.47", default_features = false, features = [
  "rustls"
] }
rusoto_s3 = { version = "0.47", default_features = false, features = [
  "rustls"
] }
uuid = { version = "1.0", features = ["v4"] }
futures = "0.3"

[dev-dependencies]
test-log = { version = "0.2", default-features = false, features = ["trace"] }
tracing-subscriber = { version = "0.3", default-features = false, features = [
  "env-filter",
  "fmt"
] }

[features]
integration_tests = []
