/* ============
css_shop.scss
Main SASS file
============ */

/* ============
Normalize
============ */
@import "~normalize.css/normalize.css";

/* ============
Variables
============ */
@import "variables";

/* ============
Core Modules
============ */
@import "core";
