@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    border: none !important;
    font-family: 'Roboto', sans-serif !important;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#2B3648;
}

.lastcolumnSeparator .MuiDataGrid-columnSeparator--sideRight {
    display: none !important;
}

input {
    background-color: #2B3648;
    padding: .6em !important;
    border-radius: 4px;
}

::-webkit-file-upload-button {
    display: none;
}

::file-selector-button {
    display: none;
}

a, a:active, a:link   {
    textDecoration: "none";
    color: #56657F;
}

a:hover {
    color: #1976D2;
}

.MuiPaper-root{
    background-color: #212936;
}

.btnClass.clicked {
    background-color: #1976D2;
    color: #FFFFFF;
}