[package]
name = "node-identifier"
version = "1.0.0"
authors = ["Insanitybit <insanitybit@gmail.com>"]
edition = "2018"

[[bin]]
name = "node-identifier"
path = "src/bin/node-identifier.rs"


[[bin]]
name = "node-identifier-retry-handler"
path = "src/bin/node-identifier-retry-handler.rs"

[features]
integration = []

[dependencies]
grapl-graph-descriptions = { path="../graph-descriptions", version="*"}
grapl-config = {path="../grapl-config", version="*"}
grapl-observe = {path="../grapl-observe", version="*"}
grapl-service = {path="../grapl-service"}

bytes = "1"
failure = "0.1"
prost = "0.7"

base64 = "0.13"

rusoto_s3 = {version="0.46", default_features = false, features=["rustls"]}
rusoto_core = {version="0.46", default_features = false, features=["rustls"]}
rusoto_sqs = {version="0.46", default_features = false, features=["rustls"]}
rusoto_dynamodb = {version="0.46", default_features = false, features=["rustls"]}
rusoto_credential = "0.46"
serde_dynamodb = {version="0.7", default_features = false, features=["rustls"]}

sha2 = "0.9.2"
log = "0.4"
stopwatch = "0"

sqs-executor = { path = "../sqs-executor/" }
zstd = "0.6"
futures = "0.3"

aws_lambda_events = "0.4"

serde = "1"
serde_json = "1"
serde_derive = "1"

thiserror = "1.0.23"
hex = "0.4"
async-trait = "0.1"
tokio = { version = "1", features = ["sync", "macros", "time", "rt-multi-thread"] }
hmap = "0.1"
tracing = "0.1"
chrono = "0.4"
tracing-subscriber = "0.2.16"

darkredis = "0.7.0"
lazy_static = "1.4.0"
grapl-utils = { path = "../grapl-utils" }
tonic = "0.4"

[dependencies.uuid]
version = "0.8"
features = ["v4"]

[dev-dependencies]
quickcheck = "1"
quickcheck_macros = "1"
