[Unit]
Description=Hashicorp's Nomad
Requires=consul.service

[Service]
Type=simple
WorkingDirectory=/var/lib/nomad
User=nomad
Group=nfsnobody
ExecStart=/usr/bin/nomad agent -config=/var/lib/nomad/nomad.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
