### Doc generation
Sphinx==3.1.2
# markdown support for sphinx
recommonmark
sphinx-rtd-theme==0.5.1

### General Python stuff
wheel

### Requirements from projects (yes, really...)
typing_extensions
pydgraph
boto3

