### Doc generation
Sphinx==4.2.0
# markdown support for sphinx
myst-parser==0.15.2
sphinx-rtd-theme==0.5.1

### General Python stuff
wheel

### Requirements from projects (yes, really...)
typing_extensions
pydgraph
boto3

