/* ============
Body
============ */

body {
  font-family: $roboto-font-family;
  font-size: rem(16);
}

/* ============
Headers
============ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 rem(16);

  color: $black;

  font-family: $roboto-slab-font-family;
  line-height: 1;
}

h1 {
  font-size: rem(30);
}

h2 {
  font-size: rem(24);
}

h3 {
  font-size: rem(20);
}

h4 {
  font-size: rem(18);
}

h5 {
  font-size: rem(16);
}

h6 {
  font-size: rem(14);
}

/* ============
Paragraphs and Anchors
============ */

a {
  color: $black;

  text-decoration: none;

  @include transition;
}

p {
  margin: 0 0 rem(16);

  font-size: rem(16);
  line-height: 1.5;

  a {
    border-bottom: solid thin $invisible;

    color: $brand;
  }
}

a:hover {
  color: $brand;
}

p a:hover {
  border-bottom: solid thin $brand;
}
