[package]
name = "organization-management"
version = "0.1.0"
edition = "2021"

[lib]
name = "organization_management"

[[bin]] # Bin to run org management gRPC server
name = "organization-management"
path = "src/main.rs"

[dependencies]
async-trait = "0.1"
grapl-tracing = { path = "../grapl-tracing" }
grapl-config = { path = "../grapl-config" }
grapl-utils = { path = "../grapl-utils" }
tokio = { version = "1.17", features = ["macros", "rt-multi-thread"] }
uuid = { version = "1.0", features = ["serde", "v4"] }
sqlx = { version = "0.6", features = [
  "runtime-tokio-rustls",
  "postgres",
  "offline",
  "uuid",
  "migrate",
] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", default-features = false, features = [
  "env-filter",
  "fmt"
] }
rust-proto = { path = "../rust-proto", version = "*" }
thiserror = "1.0"
argon2 = { version = "0.4", features = ["std"] }
clap = { version = "3.0", default_features = false, features = [
  "std",
  "env",
  "derive"
] }

[dev-dependencies]
test-log = { version = "0.2", default-features = false, features = ["trace"] }

[features]
integration_tests = []
