name: Grapl Staging Release

on:
  # Every time we push to staging,
  # release that to Dockerhub with the tag 'staging'.
  pull_request:  # TODO reverting asap
    branches:
    - staging

jobs:
  release-rust-services:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Export tag
        run: |
          echo "::set-env name=TAG::staging"

      - name: Build Rust services
        run: |
          GRAPL_RELEASE_TARGET=release ./dobi-linux --no-bind-mount rust

      - name: Extract artifacts from Rust build
        id: extract-rust-artifacts
        run: |
          ./etc/build_scripts/extract_rust_artifacts.sh

      - name: Log in to Docker registry
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login --username grapl --password-stdin

      - name: Publish Rust images to DockerHub
        run: |
          ./etc/build_scripts/push_rust_to_docker.sh

      - name: Clean up dist
        run: |
          rm -rf dist

  release-python-services:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Export tag
        run: |
          echo "::set-env name=TAG::staging"

      - name: Build Python services
        run: |
          GRAPL_RELEASE_TARGET=release TAG="$TAG" ./dobi-linux --no-bind-mount python

      - name: Log in to Docker registry
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login --username grapl --password-stdin

      - name: Publish Python images to DockerHub
        run: |
          ./etc/build_scripts/push_py_to_docker.sh

      - name: Clean up dist
        run: |
          rm -rf dist


  release-js-services:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux
    
      - name: Export tag
        run: |
          echo "::set-env name=TAG::staging"

      - name: Build JS services
        run: |
          GRAPL_RELEASE_TARGET=release ./dobi-linux --no-bind-mount js

      - name: Log in to Docker registry
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login --username grapl --password-stdin

      - name: Publish JS images to DockerHub
        run: |
          docker push grapl/grapl-engagement-view:$TAG
          docker push grapl/grapl-graphql-endpoint:$TAG