name: Grapl Build

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - staging
      - master

jobs:
  cargo-audit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Cargo Audit
        run: |
          docker build -f .github/etc/cargo-audit/Dockerfile -t grapl/grapl-cargo-audit:latest src/rust
          docker run -t grapl/grapl-cargo-audit:latest cargo audit

  rust-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Build Rust services
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount rust

      - name: Rust unit tests
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount rust-unit-tests

  python-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Build Python services
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount python

      - name: Python unit tests
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount python-unit-tests

  python-typecheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Run dobi python-typecheck
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux python-typecheck

  js-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Build JS services
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount js

      - name: JS unit tests
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount js-unit-tests

  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Build Grapl
        run: |
          # Experiment: Can I build these in parallel?
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount rust &
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount python &
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount js &
	  wait && 
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount build


      - name: Run integration tests
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount integration-tests

  # In the future, this should probably be merged back into `dobi integration-tests`, but
  # since it's so timing-dependent I'm going to treat it separately until it stabilizes a bit.
  end-to-end-integration-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Build Grapl
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount build

      - name: Run end-to-end integration tests
        run: |
          GRAPL_RELEASE_TARGET=debug TAG=latest ./dobi-linux --no-bind-mount run-e2e-integration-tests
