name: Grapl Release

on:
  release:
    types: [released, prereleased]

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
        matrix:
          python-version: [3.7]

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Determine release channel
        run: |
          BRANCH=${{ github.event.release.target_commitish }}
          if [[ "$BRANCH" == "master" ]]; then
              CHANNEL="latest"
          else
              CHANNEL="beta"
          fi
          echo "::set-env name=CHANNEL::$CHANNEL"

      - name: Install pypi-simple
        run: |
          python3 -mvenv venv && . venv/bin/activate
          pip install pypi-simple
          deactivate

      - name: Check whether grapl_graph_descriptions version has been bumped
        run: |
          . venv/bin/activate
          if [[ "$CHANNEL" == "latest" ]]; then
              python etc/build_scripts/check_pypi_version.py \
                grapl_graph_descriptions \
                $(cat src/rust/graph-descriptions/VERSION)
          else
              python etc/build_scripts/check_pypi_version.py \
                grapl_graph_descriptions \
                $(cat src/rust/graph-descriptions/VERSION) \
                true
          fi
          deactivate

      - name: Check whether grapl_analyzerlib version has been bumped
        run: |
          . venv/bin/activate
          if [[ "$CHANNEL" == "latest" ]]; then
              python etc/build_scripts/check_pypi_version.py \
                grapl_analyzerlib \
                $(cat src/python/grapl_analyzerlib/VERSION)
          else
              python etc/build_scripts/check_pypi_version.py \
                grapl_analyzerlib \
                $(cat src/python/grapl_analyzerlib/VERSION) \
                true
          fi
          deactivate

      - name: Install dobi
        run: |
          wget https://github.com/dnephin/dobi/releases/download/v0.13.0/dobi-linux
          chmod +x dobi-linux

      - name: Build Grapl
        env:
          VERSION: ${{ github.event.release.tag_name }}
        run: |
          GRAPL_RELEASE_TARGET=release TAG="$VERSION-$CHANNEL" ./dobi-linux --no-bind-mount rust
          GRAPL_RELEASE_TARGET=release TAG="$VERSION-$CHANNEL" ./dobi-linux --no-bind-mount clean-rust-build
          docker system prune -f
          GRAPL_RELEASE_TARGET=release TAG="$VERSION-$CHANNEL" ./dobi-linux --no-bind-mount python
          GRAPL_RELEASE_TARGET=release TAG="$VERSION-$CHANNEL" ./dobi-linux --no-bind-mount clean-python-build
          docker system prune -f
          GRAPL_RELEASE_TARGET=release TAG="$VERSION-$CHANNEL" ./dobi-linux --no-bind-mount js
          GRAPL_RELEASE_TARGET=release TAG="$VERSION-$CHANNEL" ./dobi-linux --no-bind-mount clean-js-build
          docker system prune -f
          GRAPL_RELEASE_TARGET=release TAG="$VERSION-CHANNEL" ./dobi-linux --no-bind-mount integration
          GRAPL_RELEASE_TARGET=release TAG="$VERSION-CHANNEL" ./dobi-linux --no-bind-mount clean-build
          docker system prune -f

      - name: Log in to Docker registry
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login --username grapl --password-stdin

      - name: Publish Grapl images to DockerHub
        env:
          VERSION: ${{ github.event.release.tag_name }}
        run: |
          docker push grapl/grapl-sysmon-subgraph-generator:$VERSION-$CHANNEL
          docker push grapl/grapl-generic-subgraph-generator:$VERSION-$CHANNEL
          docker push grapl/grapl-node-identifier:$VERSION-$CHANNEL
          docker push grapl/grapl-node-identifier-retry-handler:$VERSION-$CHANNEL
          docker push grapl/grapl-graph-merger:$VERSION-$CHANNEL
          docker push grapl/grapl-analyzer-dispatcher:$VERSION-$CHANNEL
          docker push grapl/grapl-analyzer-executor:$VERSION-$CHANNEL
          docker push grapl/grapl-engagement-creator:$VERSION-$CHANNEL
          docker push grapl/grapl-notebook:$VERSION-$CHANNEL
          docker push grapl/grapl-engagement-edge:$VERSION-$CHANNEL
          docker push grapl/grapl-model-plugin-deployer:$VERSION-$CHANNEL
          docker push grapl/grapl-engagement-view:$VERSION-$CHANNEL
          docker push grapl/grapl-graphql-endpoint:$VERSION-$CHANNEL
          docker push grapl/grapl-graph-provision:$VERSION-$CHANNEL
          docker push grapl/grapl-dynamodb-provision:$VERSION-$CHANNEL

      - name: Extract Grapl artifacts from build
        id: extract-artifacts
        env:
          VERSION: ${{ github.event.release.tag_name }}
        run: |
          cp dist/sysmon-subgraph-generator ./bootstrap
          zip -9 sysmon-subgraph-generator-$VERSION-$CHANNEL.zip ./bootstrap
          rm ./bootstrap
          echo "::set-output name=sysmon-subgraph-generator::sysmon-subgraph-generator-$VERSION-$CHANNEL.zip"

          cp dist/generic-subgraph-generator ./bootstrap
          zip -9 generic-subgraph-generator-$VERSION-$CHANNEL.zip ./bootstrap
          rm ./bootstrap
          echo "::set-output name=generic-subgraph-generator::generic-subgraph-generator-$VERSION-$CHANNEL.zip"

          cp dist/node-identifier ./bootstrap
          zip -9 node-identifier-$VERSION-$CHANNEL.zip ./bootstrap
          rm ./bootstrap
          echo "::set-output name=node-identifier::node-identifier-$VERSION-$CHANNEL.zip"

          cp dist/node-identifier-retry-handler ./bootstrap
          zip -9 node-identifier-retry-handler-$VERSION-$CHANNEL.zip ./bootstrap
          rm ./bootstrap
          echo "::set-output name=node-identifier-retry-handler::node-identifier-retry-handler-$VERSION-$CHANNEL.zip"

          cp dist/graph-merger ./bootstrap
          zip -9 graph-merger-$VERSION-$CHANNEL.zip ./bootstrap
          rm ./bootstrap
          echo "::set-output name=graph-merger::graph-merger-$VERSION-$CHANNEL.zip"

          cp dist/analyzer-dispatcher ./bootstrap
          zip -9 analyzer-dispatcher-$VERSION-$CHANNEL.zip ./bootstrap
          rm ./bootstrap
          echo "::set-output name=analyzer-dispatcher::analyzer-dispatcher-$VERSION-$CHANNEL.zip"

          cp dist/analyzer-executor/lambda.zip analyzer-executor-$VERSION-$CHANNEL.zip
          echo "::set-output name=analyzer-executor::analyzer-executor-$VERSION-$CHANNEL.zip"

          cp dist/engagement-creator/lambda.zip engagement-creator-$VERSION-$CHANNEL.zip
          echo "::set-output name=engagement-creator::engagement-creator-$VERSION-$CHANNEL.zip"

          cp dist/engagement-edge/lambda.zip engagement-edge-$VERSION-$CHANNEL.zip
          echo "::set-output name=engagement-edge::engagement-edge-$VERSION-$CHANNEL.zip"

          cp dist/model-plugin-deployer/lambda.zip model-plugin-deployer-$VERSION-$CHANNEL.zip
          echo "::set-output name=model-plugin-deployer::model-plugin-deployer-$VERSION-$CHANNEL.zip"

          cp dist/graphql-endpoint/lambda.zip graphql-endpoint-$VERSION-$CHANNEL.zip
          echo "::set-output name=graphql-endpoint::graphql-endpoint-$VERSION-$CHANNEL.zip"

          cp dist/dgraph-ttl/lambda.zip dgraph-ttl-$VERSION-$CHANNEL.zip
          echo "::set-output name=dgraph-ttl::dgraph-ttl-$VERSION-$CHANNEL.zip"

      - name: Clean up Grapl build dist
        run: |
          rm -rf dist

      - name: Upload sysmon-subgraph-generator to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.sysmon-subgraph-generator }}
          asset_name: ${{ steps.extract-artifacts.outputs.sysmon-subgraph-generator }}
          asset_content_type: application/zip

      - name: Upload generic-subgraph-generator to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.generic-subgraph-generator }}
          asset_name: ${{ steps.extract-artifacts.outputs.generic-subgraph-generator }}
          asset_content_type: application/zip

      - name: Upload node-identifier to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.node-identifier }}
          asset_name: ${{ steps.extract-artifacts.outputs.node-identifier }}
          asset_content_type: application/zip

      - name: Upload node-identifier-retry-handler to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.node-identifier-retry-handler }}
          asset_name: ${{ steps.extract-artifacts.outputs.node-identifier-retry-handler }}
          asset_content_type: application/zip

      - name: Upload graph-merger to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.graph-merger }}
          asset_name: ${{ steps.extract-artifacts.outputs.graph-merger }}
          asset_content_type: application/zip

      - name: Upload analyzer-dispatcher to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.analyzer-dispatcher }}
          asset_name: ${{ steps.extract-artifacts.outputs.analyzer-dispatcher }}
          asset_content_type: application/zip

      - name: Upload analyzer-executor to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.analyzer-executor }}
          asset_name: ${{ steps.extract-artifacts.outputs.analyzer-executor }}
          asset_content_type: application/zip

      - name: Upload engagement-creator to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.engagement-creator }}
          asset_name: ${{ steps.extract-artifacts.outputs.engagement-creator }}
          asset_content_type: application/zip

      - name: Upload engagement-edge to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.engagement-edge }}
          asset_name: ${{ steps.extract-artifacts.outputs.engagement-edge }}
          asset_content_type: application/zip

      - name: Upload model-plugin-deployer to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.model-plugin-deployer }}
          asset_name: ${{ steps.extract-artifacts.outputs.model-plugin-deployer }}
          asset_content_type: application/zip

      - name: Upload graphql-endpoint to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.graphql-endpoint }}
          asset_name: ${{ steps.extract-artifacts.outputs.graphql-endpoint }}
          asset_content_type: application/zip

      - name: Upload dgraph-ttl to Github
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.event.release.upload_url }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ steps.extract-artifacts.outputs.graphql-endpoint }}
          asset_name: ${{ steps.extract-artifacts.outputs.graphql-endpoint }}
          asset_content_type: application/zip

      - name: Prepare graph-descriptions dist
        run: |
          docker create -ti --name graph-descriptions grapl/grapl-graph-descriptions-python-build:latest
          docker cp graph-descriptions:/home/grapl/graph-descriptions/dist .
          docker rm -f graph-descriptions

      - name: Upload graph-descriptions to Test PyPI
        if: env.CHANNEL == 'beta'
        uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.GRAPL_ANALYZERLIB_TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

      - name: Upload graph-descriptions to PyPI
        if: env.CHANNEL == 'latest'
        uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.GRAPL_ANALYZERLIB_PYPI_TOKEN }}

      - name: Clean up graph-descriptions dist
        run: |
          rm -rf dist

      - name: Prepare grapl_analyzerlib dist
        run: |
          docker create -ti --name grapl-analyzerlib grapl/grapl-analyzerlib-python-build:latest
          docker cp grapl-analyzerlib:/home/grapl/grapl_analyzerlib/dist .
          docker rm -f grapl-analyzerlib

      - name: Upload grapl_analyzerlib to Test PyPI
        if: env.CHANNEL == 'beta'
        uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.GRAPL_ANALYZERLIB_TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

      - name: Upload grapl_analzyerlib to PyPI
        if: env.CHANNEL == 'latest'
        uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.GRAPL_ANALYZERLIB_PYPI_TOKEN }}

      - name: Clean up grapl_analyzerlib dist
        run: |
          rm -rf dist
